<%= render "shared/header" %>

<header class="jumbotron">
  <div class="container">
    <h1>Presidencias Argentinas</h1>
    <p class="lead">En este pagina encontraras todas las presidencias de la historia de la Republica Argentina.</p>
  
  </div>
</header>



<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="container">
	<div class="row">
	  <div class="col-6 col-lg-4">4</div>
	  <div class="col-6 col-lg-4">4</div>
	  <div class="col-6 col-lg-4">4</div>
	</div>
	<div class="row">
	  <div class="col-6 col-lg-4">4</div>
	  <div class="col-6 col-lg-4">4</div>
	  <div class="col-6 col-lg-4">4</div>
	</div>

	<div class="row">
	  <div class="col-6 col-lg-4">4</div>
	  <div class="col-6 col-lg-4">4</div>
	  <div class="col-6 col-lg-4">4</div>
	</div>
		<div class="row">
	  <div class="col-6 col-lg-4">4</div>
	  <div class="col-6 col-lg-4">4</div>
	  <div class="col-6 col-lg-4">4</div>
	</div>
		<div class="row">
	  <div class="col-6 col-lg-4">4</div>
	  <div class="col-6 col-lg-4">4</div>
	  <div class="col-6 col-lg-4">4</div>
	</div>
		<div class="row">
	  <div class="col-6 col-lg-4">4</div>
	  <div class="col-6 col-lg-4">4</div>
	  <div class="col-6 col-lg-4">4</div>
	</div>
</div>

<%= render "shared/footer" %>


