<%= render "shared/header" %>

<header class="jumbotron">
  <div class="container">
    <h1>Presidencias Argentinas</h1>
    <p class="lead">En este pagina encontraras todas las presidencias de la historia de la Republica Argentina.</p>
  
  </div>
</header>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="container">
	<div class="row">
	  	<div class="col-lg-10 col-lg-offset-1">
		  	<div class="row">
			  	<div class="col-12 col-lg-3">
			  		<img src="http://placehold.it/200x200" />
			  	</div>
			  	<div class="col-12 col-lg-9">
					<span>Nombre Apellido</span><br/>
					<span>1900 - 1920</span><br/>
					<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac magna sit amet massa laoreet pretium et non turpis. Sed purus erat, ultrices vitae auctor id, ultrices at odio. Sed volutpat molestie velit, at sodales metus consectetur molestie. Nulla augue purus, posuere ac sapien et, accumsan scelerisque tellus. Vivamus iaculis odio vel consectetur feugiat. Proin et mauris eu magna suscipit placerat sed eu urna. Donec eget velit viverra, fringilla tortor vehicula, mollis ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac magna sit amet massa laoreet pretium et non turpis. Sed purus erat, ultrices vitae auctor id, ultrices at odio. Sed volutpat molestie velit, at sodales metus consectetur molestie. Nulla augue purus, posuere ac sapien et, accumsan scelerisque tellus. Vivamus iaculis odio vel consectetur feugiat. Proin et mauris eu magna suscipit placerat sed eu urna. Donec eget velit viverra, fringilla tortor vehicula, mollis ante</span>
				</div>
		  	</div>
	  </div>
	</div>
	<div class="row">
	  	<div class="col-lg-10 col-lg-offset-1">
		  	<div class="row">
			  	<div class="col-12 col-lg-3">
			  		<img src="http://placehold.it/200x200" />
			  	</div>
			  	<div class="col-12 col-lg-9">
					<span>Nombre Apellido</span><br/>
					<span>1900 - 1920</span><br/>
					<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac magna sit amet massa laoreet pretium et non turpis. Sed purus erat, ultrices vitae auctor id, ultrices at odio. Sed volutpat molestie velit, at sodales metus consectetur molestie. Nulla augue purus, posuere ac sapien et, accumsan scelerisque tellus. Vivamus iaculis odio vel consectetur feugiat. Proin et mauris eu magna suscipit placerat sed eu urna. Donec eget velit viverra, fringilla tortor vehicula, mollis ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac magna sit amet massa laoreet pretium et non turpis. Sed purus erat, ultrices vitae auctor id, ultrices at odio. Sed volutpat molestie velit, at sodales metus consectetur molestie. Nulla augue purus, posuere ac sapien et, accumsan scelerisque tellus. Vivamus iaculis odio vel consectetur feugiat. Proin et mauris eu magna suscipit placerat sed eu urna. Donec eget velit viverra, fringilla tortor vehicula, mollis ante</span>
				</div>
		  	</div>
	  </div>
	</div>
</div>

<%= render "shared/footer" %>


